{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>CenarTechSchool - Error 404</title>

<link rel="shortcut icon" href="assets/img/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">

<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body class="error-page">

<div class="main-wrapper">
<div class="error-box">
<h3 class="h2 mb-3">500 - Internal Server Error</h3>
<p class="h4 font-weight-normal">Oops! Something went wrong on our end. We are working to fix the problem. Please try again later. If the problem persists, please contact support.<a href="{% url "login" %}" class="btn btn-primary">Return to the login.</a></p>
</div>
</div>


<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>