{% extends "base.html" %}

{% block content %}
{% if request.user.user_type == "HOD" %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Change Term</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "hod_home" %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Change Term</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> Changing term from "Term Three" to "Term One" will automatically promote students to the next class.
                    </div>
                    
                    {% include "includes/messages.html" %}
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Term Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="vacation">Vacation Date</label>
                                <input type="date" name="vacation" id="vacation" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="rdate">Reopening Date</label>
                                <input type="date" name="rdate" id="rdate" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="term">Term</label>
                                <select name="term" id="term" class="form-control">
                                    <option hidden>Select Term</option>
                                    <option value="One">Term One</option>
                                    <option value="Two">Term Two</option>
                                    <option value="Three">Term Three</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="hod_remark">Head Teacher's Remark</label>
                                <input type="text" name="hod_remark" value="{{term.hod_remarks}}" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="cutoffpoint">Cut Off Point</label>
                                <input type="text" name="cutoffpoint" value="{{term.cutOfPoint}}" id="cutoffpoint" class="form-control">
                            </div>
                        </div>

                        <div class="col-12">
                            <p>School is currently in <b>"Term {{ term.term|capfirst }}"</b>
                            {% if term.vacation_date %}
                                with vacation date <b>"{{ term.vacation_date }}"</b>
                            {% endif %}
                            {% if term.reopening_date %}
                                and reopening date set to <b>"{{ term.reopening_date }}"</b>
                            {% endif %}.
                            </p>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
