{% extends "base.html" %}

{% block content %}
{% if request.user.user_type == "HOD" %}

<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
      appearance: textfield;
    }
    .form-group a{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border: .5px solid rgba(182, 182, 182, 0.822);
        border-radius: 50px;
        padding: .35rem;
        margin-top: .6px;
        transition: .4s ease;
        color: black;
    }

    .form-group a:hover{
        background-color: #1a1a1a6c;
        color: white;
    }
  </style>
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Change Term</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "hod_home" %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Change Term</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> Changing term from "Term Three" to "Term One" will automatically promote students to the next class.
                    </div>
                    
                    {% include "includes/messages.html" %}
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Term Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="vacation">Vacation Date</label>
                                <input type="date" name="vacation" value="{{term.vacation_date}}" id="vacation" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="rdate">Reopening Date</label>
                                <input type="date" name="rdate" id="rdate" value="{{term.reopening_date}}" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="term">Term</label>
                                <select name="term" id="term" class="form-control">
                                    <option hidden>Select Term</option>
                                    <option value="One">Term One</option>
                                    <option value="Two">Term Two</option>
                                    <option value="Three">Term Three</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="hod_remark">Head Teacher's Remark</label>
                                <input type="text" name="hod_remark" value="{{term.hod_remarks}}" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="cutoffpoint">Cut Off Point</label>
                                <input type="number" name="cutoffpoint" value="{{term.cutOfPoint}}" id="cutoffpoint" class="form-control">
                            </div>
                        </div>

                        {% if term.term == "Three" %}
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="examdate">This sets the students' promoted field on the report card.</label><br>
                                    <a href="#" id="promote-students" class="btn">
                                        <i id="promote-students-icon" class="fas fa-arrow-up"></i> 
                                        <span id="promote-students-text">Promote Students</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="examdate"></label><br>
                                    <span class="disabled-link" style="color: gray; cursor: not-allowed;">
                                        <i class="fas fa-ban"></i> <span>Promotions are not available in this term.</span> <span class="menu-arrow"></span>
                                    </span>
                                </div>
                            </div>
                        {% endif %}

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function() {
                                $('#promote-students').click(function(event) {
                                    event.preventDefault(); // Prevent default anchor click behavior

                                    // Show progress status message
                                    $('#promote-students-text').html('Promoting Students...');
                                    $('#promote-students-icon').removeClass('fa-arrow-up').addClass('fa-spinner fa-spin'); // Change icon to spinner
                                    $('#promote-students').css('pointer-events', 'none'); // Disable button during the process

                                    $.ajax({
                                        url: "{% url 'update_promoted_to' %}",
                                        type: "POST",
                                        data: {
                                            csrfmiddlewaretoken: '{{ csrf_token }}', // Include CSRF token
                                        },
                                        success: function(response) {
                                            // Handle the success response and update the button to show completed status
                                            $('#promote-students-text').html('Students Promoted');
                                            $('#promote-students-icon').removeClass('fa-spinner fa-spin').addClass('fa-check'); // Change icon to check
                                            $('#promote-students').css('color', 'green');
                                        },
                                        error: function(xhr, status, error) {
                                            // Handle errors and revert the button to the original state
                                            alert("An error occurred: " + error);
                                            $('#promote-students-text').html('Promote Students');
                                            $('#promote-students-icon').removeClass('fa-spinner fa-spin').addClass('fa-arrow-up'); // Revert to original icon
                                            $('#promote-students').css('pointer-events', 'auto'); // Re-enable the button
                                        }
                                    });
                                });
                            });
                        </script>

                    


                        <div class="col-12">
                            <p>School is currently in <b>"Term {{ term.term|capfirst }}"</b>
                            {% if term.vacation_date %}
                                with vacation date <b>"{{ term.vacation_date }}"</b>
                            {% endif %}
                            {% if term.reopening_date %}
                                and reopening date set to <b>"{{ term.reopening_date }}"</b>
                            {% endif %}.
                            </p>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="submit-btn">
                                <span id="submit-btn-text">Submit</span>
                            </button>
                        </div>
                        
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
