{% extends "base.html" %}

{% block content %}
{% if request.user.user_type == "HOD" %}
<div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Change Term</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "hod_home" %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Change Term</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form method="POST">
    <strong style="color:red;">Warning, changing term from "Term Three" to "Term One" will automatically promote students to next class.</strong>
        {% include "includes/messages.html" %}
        {% csrf_token %}
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span>Term Information</span></h5>
    </div>
    
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Vacation Date</label>
    <input type="date" name="vacation" class="form-control">
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Reopening Date</label>
    <input type="date" name="rdate" class="form-control">
    </div>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Term</label>
    <select name="term"  class="form-control">
        <option hidden>Select Term</option>
        <option value="One">Term One</option>
        <option value="Two">Term Two</option>
        <option value="Three">Term Three</option>
    </select>
    </div>
    </div>
    <b>School is currently in "Term {{term.term|capfirst}}" {% if term.vacation_date %} with vacation date "{{term.vacation_date}}"{% endif %} {% if term.reopening_date %}and reopening date set to "{{term.reopening_date}}"{% endif %}.</b>
    <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
{% endif %}
{% endblock content %}